<!doctype html>
<!-- Declaring the ng-app -->
<html ng-app="parking">
  <head>
    <title>ei - Parking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Importing the angular scripts -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <!-- app script -->
    <script src="js/app.js"></script>
  </head>
  
  <!-- Attaching the view to the parkingCtrl -->
  <body ng-controller="parkingCtrl">
    
    <h3 ng-bind="appTitle"></h3>
    <info ng-show="showInfo" topic="infoTopic" description="infoDescription" close="closeInfo()"></info>
    
    <form name="carForm" class="carform">
      <!-- Binding the car object, with plate, to the scope -->
      <input type="text" 
             ng-model="car.plate" 
             placeholder="Type the plate here..." 
             name="plateField"
             ng-required="true"
             ng-minlength="7"
             ng-maxlength="7"
             ng-pattern="/[A-Za-z]{2}[0-9]{3}[A-Za-z]{2}/" />
      <select ng-model="car.color" ng-options="color for color in colors">Pick a color</select>
      <!-- Binding the park function to the click event -->
      <button ng-click="park(car)" ng-disabled="!car.plate || !car.color || carForm.plateField.$invalid">Park</button>
      <!-- directive:alert -->
      <alert ng-show="carForm.plateField.$dirty && carForm.plateField.$invalid"
             topic="alertTopic"
             description="alertDescription">
      </alert>
    </form>

    <div ng-show="cars.length > 0">
      <input type="text" 
        ng-model="criteria" 
        placeholder="What are you looking for?"
      />
      <table id="cars">
        <thead>
          <tr>
            <th></th>
            <th>cnt</th>
            <th><a href="" ng-click="field = 'plate'; order=!order">Plate</a></th>
            <th><a href="" ng-click="field = 'color'; order=!order">Color</a></th>
            <th><a href="" ng-click="field = 'entrance'; order=!order">Entrance</a></th>
          </tr>
        </thead>
        <tbody>
          <!-- Iterating over the cars -->
          <tr ng-repeat="car in cars | filter:criteria | orderBy:field:order track by $id($index)" ng-class="{selected: car.selected}">
            <td><input type="checkbox" ng-model="car.selected"/></td>
            <td><span ng-bind="$index"></span></td>
            <!-- Showing the car’s plate -->
            <td><span ng-bind="car.plate | plate:'-'"></span></td>
            <td class="carcolor"><span ng-bind="car.color" ng-style="{color: car.color}"></span></td>
            <td><span ng-bind="car.entrance | date:'dd/MM/yyyy HH:mm:ss'"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-hide="cars.length > 0">
      The parking lot is empty
    </div>
  </body>
</html>